@charset "UTF-8";

@media screen and (min-width: 767px){

    body, html{
        background-color: #fde2f0;
        height: 100%;
    }
    main{
        margin-top: 90px;
        width: 500px;
        margin: auto;
    }
    div.card{
        margin-top: 60px;
        border-radius: 20px;
        background-color: white;
        overflow: hidden;
    }

    
}